{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/homepage_style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'polls/css/onlybooks_style.css' %}">
</head>
<!--Đây là trang chi tiết mỗi sản phẩm-->
<body>
    <!--header-->
    <header>
        <i class='bx bx-menu' style='color:#12f7ff' id="bx-menu">
            <div class="menu" id="menu">
                <ul class="sub-menu">
                    <li><a href="{% url 'polls:homepage' %}">Trang chủ</a></li>
                    <li><a href="{% url 'polls:listbooks' %}">Tất cả sản phẩm</a></li>
                    <li><a href="#">Thể loại</a>
                        <i class='bx bx-chevron-down' id="the-loai-chevron-down"></i>
                        <ul class="the-loai" id="the-loai">
                            <li><a href="#">Văn học</a></li>
                            <ul class="Van-hoc">
                                <li><a href="/category/van-hoc-hien-dai">Văn học hiện đại</a></li>
                                <li><a href="/category/van-hoc-nuoc-ngoai">Văn học nước ngoài</a></li>
                                <li><a href="#">Tiểu thuyết</a></li>
                                <li><a href="#">Ngôn tình</a></li>
                                <li><a href="#">Truyện ngắn - Tản văn</a></li>
                                <li><a href="#">Khoa học viễn tưởng</a></li>
                                <li><a href="#">Trinh thám - Kinh dị</a></li>
                                <li><a href="#">Tâm linh - Tôn giáo</a></li>
                                <li><a href="#">Y học - Sức khỏe</a></li>
                            </ul>
                            <li><a href="#">Kinh tế</a></li>
                            <ul class="Kinh-te">
                                <li><a href="#">Marketing - Bán hàng</a></li>
                                <li><a href="#">Quản trị kinh doanh</a></li>
                                <li><a href="#">Phân tích thị trường</a></li>
                            </ul>
                            <li><a href="#">Truyện tranh</a></li>
                            <li><a href="#">Thiếu nhi</a></li>
                            <ul class="Thieu-nhi">
                                <li><a href="#">Kỹ năng sống cho trẻ</a></li>
                                <li><a href="#">Nuôi dạy con</a></li>
                                <li><a href="#">Vừa chơi vừa học</a></li>
                                <li><a href="#">Sách tô màu</a></li>
                            </ul>
                            <li><a href="#">Sách giáo khoa</a></li>
                            <ul class="SGK">
                                <li><a href="#">Sách giáo khoa</a></li>
                                <li><a href="#">Sách bài tập</a></li>
                                <li><a href="#">Sách tham khảo</a></li>
                                <li><a href="#">Sách luyện thi</a></li>
                            </ul>
                            <li><a href="#">Phân loại khác</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Tác giả</a></li>
                    <li><a href="#">Nhà xuất bản</a>
                        <i class='bx bx-chevron-down' id="NXB-chevron-down"></i>
                        <ul class="NXB" id="NXB">
                            <li><a href="#">Nhã Nam</a></li>
                            <li><a href="#">NXB Trẻ</a></li>
                            <li><a href="#">IPM</a></li>
                            <li><a href="#">AZ Book</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </i>
        <img src="{% static 'polls/image/logo.svg' %}" alt="">
        <a href="{% url 'polls:homepage' %}" class="logo">Ngôi nhà của Cú</a>
        <ul class="search">
            <form action="{% url 'polls:search' %}" method="get">
            <li>
                <input type="text" placeholder="Tìm kiếm" name="search">
                <button type='submit'><i class='bx bx-search-alt' style='color:#12f7ff'></i></button>
            </li>
            </form>
            <li><a href="/shopping-cart/"><i class='bx bx-shopping-bag' style='color:#12f7ff' ></i></a></i></li>
            <li><a href="#"><i class='bx bxs-user' style='color:#12f7ff'></i></a></li>
        </ul>
        {% if user.is_authenticated %}
        <ul class="navlist">
            <li><a href="{% url 'polls:homepage' %}">Trang chủ</a></li>
            <li><a href="{% url 'polls:homepage' %}#about">Giới thiệu</a></li>
            <li><a href="{% url 'polls:homepage' %}#contact">Liên hệ</a></li>
            <li><span>Hi, {{ user.username }}</span></li>
            <li><a href="{% url 'polls:logout' %}">Đăng xuất</a></li>
        </ul>
        {% else %}
        <ul class="navlist">
            <li><a href="{% url 'polls:homepage' %}">Trang chủ</a></li>
            <li><a href="{% url 'polls:homepage' %}#about">Giới thiệu</a></li>
            <li><a href="{% url 'polls:homepage' %}#contact">Liên hệ</a></li>
            <li><a href="{% url 'polls:login' %}">Đăng nhập</a></li>
        </ul>
        {% endif %}
    </header>

    <!--Đường dẫn mỗi trang-->
    <ul class="breadcrumb">
        <li><a href="{% url 'polls:homepage' %}">Trang chủ</a></li>
        <li><a href="#">Tất cả sản phẩm</a></li>
        <li>{{ product.title }}</li>
    </ul>

    <section class="product">
        
        <div class="product-o-card">
            <div class="intro">
                <q>
                {{ product.intro }}
                </q>
            </div>
            <div class="card-o">
                <img src="{{ product.image.url }}" alt="">
                <div class="info-o">
                    <div class="o-price-name">
                        <h3>{{ product.title }}</h3>
                    </div>
                    <p>Tác giả: <span style="text-transform:uppercase">{{ product.author}}</span></p>
                    <p>Giá: {{ product.price }} đ</p>
                    <p>Nhà xuất bản: {{ product.publisher }}</p>
                    <div id="buy-amount">
                    
                        <button class="minus-btn" id="minus">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-3 -3 30 30" stroke-width="2.0" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                            </svg>
                        </button>
                        <input type="text" min="1" name="amount" id="amount" value="1">
                        <button class="plus-btn" id="plus">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-3 -3 30 30" stroke-width="2.0" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                            </svg>
                        </button>
                    </div>
                    <div class="button-buy-add">
                    {% with quantity=1 %}
                    <form action="{% url 'polls:add_cart' product.id quantity %}" method='POST' class='add-cart-form' data-product-id='{{ product.id }}'>
                    {% csrf_token %}
                            <input type='hidden' name='add-cart'>
                            <button href="#" class="btn" id="add-cart" type='submit'>Thêm vào <i class='bx bxs-cart'></i></button>
                            <button onclick="redirect_to_cart()" class="btn" id="shop-now" type='submit'>Mua ngay</button>
                    </form>
                    {% endwith %}
                    </div>
                    
                </div>
            </div>
        </div>
        <!--NỘI DUNG-->
       <div class="content-of-book">
            <h3>NỘI DUNG</h3>
            <p>
                {{product.description}}
           </p> 
       </div>
       <div id="progress">
            <span id="progress-value">
                <i class='bx bx-chevrons-up'></i>
            </span>
        </div>
       <!--Thông tin sách-->
       <hr  width="100%" size="5px" align="center" color="#12f7ff" />
       <div class="books">
            <div class="info-of-book">
                <h3>THÔNG TIN SÁCH</h3>
                <table>
                    <tr>
                        <th>Mã hàng</th>
                        <td>{{ product.id }}</td>
                    </tr>
                    <tr>
                        <th>Tên nhà cung cấp</th>
                        <td>{{ product.suplier }}</td>
                    </tr>
                    <tr>
                        <th>Tác giả</th>
                        <td style="text-transform:uppercase">{{ product.author }}</td>
                    </tr>
                    <tr>
                        <th>NXB</th>
                        <td>{{ product.publisher }}</td>
                    </tr>
                    <tr>
                        <th>Năm XB</th>
                        <td>{{ product.release_date }}</td>
                    </tr>
                    <tr>
                        <th>Ngôn ngữ</th>
                        <td>{{ product.language }}</td>
                    </tr>
                    <tr>
                        <th>Trọng lượng (gr)</th>
                        <td>{{ product.weight }}</td>
                    </tr>
                    <tr>
                        <th>Kích thước bao bì</th>
                        <td>{{ product.size }}</td>
                    </tr>
                    <tr>
                        <th>Số trang</th>
                        <td>{{ product.page }}</td>
                    </tr>
                        <th>Hình thức</th>
                        <td>{{ product.book_quality}}</td>
                    </tr>
                </table>
            </div>
            <div class="container">
                <div class="wrapper">
                    <div class="item"> 
                        <img src="{% static 'polls/image/products/Dieu-ky-dieu-cua-tiem-tap-hoa-Namiya.webp' %}">
                    </div>
                    <div class="item">
                        <img src="{% static 'polls/image/products/Tam-the.webp' %}">
                    </div>
                    <div class="item">
                        <img src="{% static 'polls/image/products/Phia-sau-nghi-can-X.webp' %}">
                    </div>
                    <div class="item">
                        <img src="{% static 'polls/image/products/phapytanminh.jpeg' %}">
                    </div>
                    <div class="item">
                        <img src="{% static 'polls/image/products/Quai-vat-trong-quan-do-nuong.webp' %}">
                    </div>
                </div>
                <div class="buttons">
                    <button id="prev"><</button>
                    <button id="next">></button>
                </div>
                <ul class="dots">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
       <hr  width="100%" size="5px" align="center" color="#12f7ff" />
       <!--Sách cùng thể loại-->
       <section class="products" id="products">
        <h2>Sản phẩm cùng loại</h2>
        <div class="product-card">
        {% for product in related_products %}
        <a href="{{ product.get_absolute_url }}" style="text-decoration:none; color:white">
            <div class="card">
                <img src="{{ product.image.url }}" alt="">
                <div class="info">
                    <div class="price-name">
                        <h3>{{ product.title }}</h3>
                    </div>
                    <p style='text-transform:uppercase'>Tác giả: {{ product.author }}</p>
                    <p>Giá: {{ product.price }}đ</p>
        </a>
                    {% with quantity=1 %}
                    <form action="{% url 'polls:add_cart' product.id quantity %}" method='POST' class='add-cart-form-related-product' data-product-id='{{ product.id }}'>
                    {% csrf_token %}
                            <input type='hidden' name='add-cart'>
                            <button href="#" class="btn" id="add-cart" type='submit'>Thêm vào <i class='bx bxs-cart'></i></button>
                            <button onclick="redirect_to_cart()" class="btn" id="shop-now" type='submit'>Mua ngay</button>
                    </form>
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
           
        </div>
        </section>
        <script src="{% static 'polls/js/onlybook-script.js' %}"></script>
    </section>

    <!--Thông tin liên hệ-->
    <footer id="contact">
        <h2>Liên hệ</h2>
        <ul>
            <li><i class='bx bxs-car' style='color:#1d002c'></i><b> Địa chỉ:</b> Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh</li>
            <li><i class='bx bxs-phone' style='color:#1d002c'></i><b> Số điện thoại:</b> 0912XXXXXX</li>
            <li><i class='bx bx-envelope' style='color:#1d002c'></i><b> Email:</b> 21521195@gm.uit.edu.vn</li>
        </ul>
        <ul class="social">
            <i class='bx bxl-facebook-square'></i>
            <i class='bx bxl-instagram'></i>
        </ul>
    </footer>
</body>
<script src="{% static 'polls/js/homepage_script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'polls/js/onlybook-scipt.js' %}"></script>
<script>
    $(document).ready(function () {
    $('.add-cart-form').submit(function(event) {
        var productId = $(this).data('product-id');
        var productAmount = $('#amount').val()
        event.preventDefault();
        var csrfToken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type: 'POST',
            url: "/add_cart/" + productId + '/' + productAmount,  // Replace with the actual URL of your view
            headers: {
                'X-CSRFToken': csrfToken  // Include CSRF token in the headers
            },
            success: function (data) {
                
            },
            error: function (data) {
                alert('Form submission failed!');
            }
        });
    });

    $('.add-cart-form-related-product').submit(function(event) {
        var productId = $(this).data('product-id');
        var productAmount = "1"
        event.preventDefault();
        var csrfToken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type: 'POST',
            url: "/add_cart/" + productId + '/' + productAmount,  // Replace with the actual URL of your view
            headers: {
                'X-CSRFToken': csrfToken  // Include CSRF token in the headers
            },
            success: function (data) {
                
            },
            error: function (data) {
                alert('Form submission failed!');
            }
        });
    });

    });
    var isClicked = false;
    function redirect_to_cart()
    {
        if (isClicked){
            return;
        }
        isClicked = true;
        setTimeout(function() {
        // Reset the flag after the delay
        isClicked = false;
        
        // Redirect to another page
        window.location.href = '/shopping-cart'; // Replace with your desired URL
    }, 100);
    };
</script>
</html>