{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/homepage_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/pay_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/account_style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<!--Đây là trang thanh toán sản phẩm-->
<body class="pay-html">
    <!--header-->
    <header>
        <i class='bx bx-menu' style='color:#12f7ff' id="bx-menu">
            <div class="menu" id="menu">
                <ul class="sub-menu">
                    <li><a href="{% url 'polls:homepage' %}">Trang chủ</a></li>
                    <li><a href="{% url 'polls:listbooks' %}">Tất cả sản phẩm</a></li>
                    <li><a href="#">Sách nổi bật</a></li>
                    <li><a href="#">Sách bán chạy</a></li>
                    <li><a href="#">Thể loại</a>
                        <i class='bx bx-chevron-down' id="the-loai-chevron-down"></i>
                        <ul class="the-loai" id="the-loai">
                            <li><a href="#">Văn học</a></li>
                            <ul class="Van-hoc">
                                <li><a href="{% url 'polls:category_list' category_slug='van-hoc-hien-dai' %}">Văn học hiện đại</a></li>
                                <li><a href="{% url 'polls:category_list' category_slug='van-hoc-nuoc-ngoai' %}">Văn học nước ngoài</a></li>
                                <li><a href="#">Tiểu thuyết</a></li>
                                <li><a href="#">Ngôn tình</a></li>
                                <li><a href="#">Truyện ngắn - Tản văn</a></li>
                                <li><a href="#">Khoa học viễn tưởng</a></li>
                                <li><a href="#">Trinh thám - Kinh dị</a></li>
                                <li><a href="#">Tâm linh - Tôn giáo</a></li>
                                <li><a href="#">Y học - Sức khỏe</a></li>
                            </ul>
                            <li><a href="#">Kinh tế</a></li>
                            <ul class="Kinh-te">
                                <li><a href="#">Marketing - Bán hàng</a></li>
                                <li><a href="#">Quản trị kinh doanh</a></li>
                                <li><a href="#">Phân tích thị trường</a></li>
                            </ul>
                            <li><a href="#">Truyện tranh</a></li>
                            <li><a href="#">Thiếu nhi</a></li>
                            <ul class="Thieu-nhi">
                                <li><a href="#">Kỹ năng sống cho trẻ</a></li>
                                <li><a href="#">Nuôi dạy con</a></li>
                                <li><a href="#">Vừa chơi vừa học</a></li>
                                <li><a href="#">Sách tô màu</a></li>
                            </ul>
                            <li><a href="#">Sách giáo khoa</a></li>
                            <ul class="SGK">
                                <li><a href="#">Sách giáo khoa</a></li>
                                <li><a href="#">Sách bài tập</a></li>
                                <li><a href="#">Sách tham khảo</a></li>
                                <li><a href="#">Sách luyện thi</a></li>
                            </ul>
                            <li><a href="#">Phân loại khác</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Tác giả</a></li>
                    <li><a href="#">Nhà xuất bản</a>
                        <i class='bx bx-chevron-down' id="NXB-chevron-down"></i>
                        <ul class="NXB" id="NXB">
                            <li><a href="#">Nhã Nam</a></li>
                            <li><a href="#">NXB Trẻ</a></li>
                            <li><a href="#">IPM</a></li>
                            <li><a href="#">AZ Book</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">Liên hệ</a></li>
                </ul>
            </div>
        </i>
        <img src="{% static 'polls/image/logo.svg' %}" alt="">
        <a href="{% url 'polls:homepage' %}" class="logo">Ngôi nhà của Cú</a>
        <ul class="search">
            <form action="{% url 'polls:search' %}" method="get">
            <li>
                <input type="text" placeholder="Tìm kiếm" name="search">
                <button type='submit'><i class='bx bx-search-alt' style='color:#12f7ff'></i></button>
            </li>
           </form>
            {% if user.is_authenticated %}
            <li><a href="{% url 'polls:cart' %}"><i class='bx bx-shopping-bag' style='color:#12f7ff'></i></a></li>
            <li><a href="{% url 'polls:account'%}"><i class='bx bxs-user' style='color:#12f7ff'></i></a></li>
            {% else %}
            <li><a href="{% url 'polls:login' %}"><i class='bx bx-shopping-bag' style='color:#12f7ff'></i></a></li>
            <li><a href="{% url 'polls:login' %}"><i class='bx bxs-user' style='color:#12f7ff'></i></a></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <ul class="navlist">
            <li><a href="{% url 'polls:homepage' %}">Trang chủ</a></li>
            <li><a href="{% url 'polls:homepage' %}#about">Giới thiệu</a></li>
            <li><a href="{% url 'polls:homepage' %}#contact">Liên hệ</a></li>
            <li>Hi, {{ user.username }}</li>
            <li><a href="{% url 'polls:logout' %}">Đăng xuất</a></li>
        </ul>
        {% else %}
        <ul class="navlist">
            <li><a href="{% url 'polls:homepage' %}">Trang chủ</a></li>
            <li><a href="{% url 'polls:homepage' %}#about">Giới thiệu</a></li>
            <li><a href="{% url 'polls:homepage' %}#contact">Liên hệ</a></li>
            <li><a href="{% url 'polls:login' %}">Đăng nhập</a></li>
        </ul>
        {% endif %}
    </header>

    <!--Đường dẫn mỗi trang-->
    <ul class="breadcrumb">
        <li><a href="{% url 'polls:homepage' %}">Trang chủ</a></li>
        <li><a href="{% url 'polls:cart' %}">Giỏ hàng</a></li>
        <li>Thanh toán</li>
    </ul>

    <!--Nội dung thanh toán-->
    <img src="{% static 'polls/image/logo.svg' %}" alt="" id="small-logo">
    <div class="pay">
        <h1>{{result}}</h1>
    </div>

    <!--Thông tin liên hệ-->
    <footer id="contact">
        <h2>Liên hệ</h2>
        <ul>
            <li><i class='bx bxs-car' style='color:#1d002c'></i><b> Địa chỉ:</b> Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh</li>
            <li><i class='bx bxs-phone' style='color:#1d002c'></i><b> Số điện thoại:</b> 0912XXXXXX</li>
            <li><i class='bx bx-envelope' style='color:#1d002c'></i><b> Email:</b> 21521195@gm.uit.edu.vn</li>
        </ul>
        <ul class="social">
            <i class='bx bxl-facebook-square'></i>
            <i class='bx bxl-instagram'></i>
        </ul>
    </footer>
    <script src="homepage_script.js"></script>
</body>
</html>