{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/register_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/homepage_style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<!--Đây là trang đăng ký tài khoản-->
<body class="register-html">
    <<!--header-->
    <header>
        <i class='bx bx-menu' style='color:#12f7ff' id="bx-menu">
            <div class="menu" id="menu">
                <ul class="sub-menu">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Thể loại</a>
                        <i class='bx bx-chevron-down' id="the-loai-chevron-down"></i>
                        <ul class="the-loai" id="the-loai">
                            <li><a href="#">Văn học</a></li>
                            <ul class="Van-hoc">
                                <li><a href="/category/van-hoc-hien-dai">Văn học hiện đại</a></li>
                                <li><a href="/category/van-hoc-nuoc-ngoai">Văn học nước ngoài</a></li>
                                <li><a href="#">Tiểu thuyết</a></li>
                                <li><a href="#">Ngôn tình</a></li>
                                <li><a href="#">Truyện ngắn - Tản văn</a></li>
                                <li><a href="#">Khoa học viễn tưởng</a></li>
                                <li><a href="#">Trinh thám - Kinh dị</a></li>
                                <li><a href="#">Tâm linh - Tôn giáo</a></li>
                                <li><a href="#">Y học - Sức khỏe</a></li>
                            </ul>
                            <li><a href="#">Kinh tế</a></li>
                            <ul class="Kinh-te">
                                <li><a href="#">Marketing - Bán hàng</a></li>
                                <li><a href="#">Quản trị kinh doanh</a></li>
                                <li><a href="#">Phân tích thị trường</a></li>
                            </ul>
                            <li><a href="#">Truyện tranh</a></li>
                            <li><a href="#">Thiếu nhi</a></li>
                            <ul class="Thieu-nhi">
                                <li><a href="#">Kỹ năng sống cho trẻ</a></li>
                                <li><a href="#">Nuôi dạy con</a></li>
                                <li><a href="#">Vừa chơi vừa học</a></li>
                                <li><a href="#">Sách tô màu</a></li>
                            </ul>
                            <li><a href="#">Sách giáo khoa</a></li>
                            <ul class="SGK">
                                <li><a href="#">Sách giáo khoa</a></li>
                                <li><a href="#">Sách bài tập</a></li>
                                <li><a href="#">Sách tham khảo</a></li>
                                <li><a href="#">Sách luyện thi</a></li>
                            </ul>
                            <li><a href="#">Phân loại khác</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Tác giả</a></li>
                    <li><a href="#">Nhà xuất bản</a>
                        <i class='bx bx-chevron-down' id="NXB-chevron-down"></i>
                        <ul class="NXB" id="NXB">
                            <li><a href="#">Nhã Nam</a></li>
                            <li><a href="#">NXB Trẻ</a></li>
                            <li><a href="#">IPM</a></li>
                            <li><a href="#">AZ Book</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </i>
        <img src="{% static 'polls/image/logo.svg' %}" alt="">
        <a href="#" class="logo">Ngôi nhà của Cú</a>
        <ul class="search">
            <form action="{% url 'polls:search' %}" method="get">
            <li>
                <input type="text" placeholder="Tìm kiếm" name="search">
                <button type="submit"><i class='bx bx-search-alt' style='color:#12f7ff'></i></button>
            </li>
            </form>
            <li><a href="{% url 'polls:cart' %}"><i class='bx bx-shopping-bag' style='color:#12f7ff' ></i></a></i></li>
            <li><a href="#"><i class='bx bxs-user' style='color:#12f7ff'></i></a></li>
        </ul>
        <ul class="navlist">
            <li><a href="{% url 'polls:homepage' %}">Trang chủ</a></li>
            <li><a href="{% url 'polls:homepage' %}#about">Giới thiệu</a></li>
            <li><a href="{% url 'polls:homepage' %}#contact">Liên hệ</a></li>
            <li><a href="{% url 'polls:login' %}">Đăng nhập</a></li>
        </ul>
    </header>
    <img src="{% static 'polls/image/logo.svg' %}" alt="" id="small-logo">
    <div class="register">
        <form action="" method="post">
            {% csrf_token %}
            <h1>ĐĂNG KÝ TÀI KHOẢN</h1>
            <div class="form-control">
                <div class="row">
                    <p>Tên đăng nhập</p>
                    <input id="username" name="username" type="text" placeholder="Nhập tên đăng nhập">
                </div>
                <div class="row"><small></small></div>
            </div>
            <div class="form-control">
                <div class="row">
                    <p>Số điện thoại</p>
                    <input id="phone" name="phone" type="text" placeholder="Nhập số điện thoại">
                </div>
                <div class="row"><small></small></div>
            </div>
            <div class="form-control">
                <div class="row">
                    <p>Email</p>
                    <input id="email" name="email" type="text" placeholder="Nhập email">
                </div>
                <div class="row"><small></small></div>
            </div>
            <div class="form-control">
                <div class="row">
                    <p>Mật khẩu</p>
                    <input id="password" name="password" type="password" placeholder="Nhập mật khẩu">
                </div>
                <div class="row"><small></small></div>
            </div>
            <div class="form-control">
                <div class="row">
                    <p>Nhập lại mật khẩu</p>
                    <input id="pass-confirm" name="password_confirm" type="password" placeholder="Nhập lại mật khẩu">
                </div>
                <div class="row"><small></small></div>
            </div>
            <button type="submit" class="btn-submit-register">Đăng ký</button>
        </form>
    </div>
    <footer id="contact">
        <h2>Liên hệ</h2>
        <ul>
            <li><i class='bx bxs-car' style='color:#1d002c'></i><b> Địa chỉ:</b> Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh</li>
            <li><i class='bx bxs-phone' style='color:#1d002c'></i><b> Số điện thoại:</b> 0912XXXXXX</li>
            <li><i class='bx bx-envelope' style='color:#1d002c'></i><b> Email:</b> 21521195@gm.uit.edu.vn</li>
        </ul>
        <ul class="social">
            <i class='bx bxl-facebook-square'></i>
            <i class='bx bxl-instagram'></i>
        </ul>
    </footer>
</body>
<script src="{% static 'polls/js/register_script.js' %}"></script>
<script src="{% static 'polls/js/homepage_script.js' %}"></script>
</html>