.pay-html{
    background: #121137;
}
.pay{
    margin-top: 120px;
    margin-bottom: 50px;
    font-family: 'Agbalumo', sans-serif;
    width: 800px;
    border: 2px solid #12f7ff;
    border-radius: 25px;
    padding: 40px;
    background: #121137;
    color: #fff;
    margin-left: 20%;
}
.pay h1{
    font-size: 2rem;
    text-align: center;
}
.pay p{
    padding: 1rem 1rem;
    font-size: 1.2rem;
}
.books{
    display: flex;
    border-radius: 25px;
    background: #fff;
    color: #1d002c;
    margin: 10px 10px;
}
.books img{
    width: 100px;
    height: 150px;
    padding: 10px 50px;
    flex: 0.5;
}
.detail_book{
    padding-left: 5rem;
}
.detail_book .line{
    display: flex;
}
.detail_book .line p{
    padding: 0.5rem 0.5rem;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #12f7ff;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: #1d002c;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #1d002c;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #1d002c;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    text-decoration: underline;
}
.btn-submit-pay {
    background: #12f7ff;
    color: #1d002c;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 10px 50px;
    border-radius: 25px;
    transition: all .3s ease;
    margin-top: 20px;
    margin-left: 35%;
}
.btn-submit-pay:hover {
    box-shadow: 0 0 1rem #12f7ff;
    background: #121137;
    border: 2px solid #12f7ff;
    color: #fff;
}
#small-logo {
    height: 100px;
    width: 100px;
    position: absolute;
    margin-left: 60%;
    object-fit: cover;
    margin-top: 20px;
}
@media screen and (max-width: 426px) and (min-width: 320px){
    body{
        width: 1300px;
    }
    header{
        width: 1300px;
        height: 300px;
        
    }
    header a{
        font-size: 4rem;
    }
    .bx-shopping-bag{
        display: none;
    }
    .bxs-user{
        display: none;
    }
    header .bx-menu{
        font-size: 5rem;
    }
    .navlist li a{
        display: none;
    }
    .logo{
        font-size: 4rem;
    }
    .search input{
        font-size: 3rem;
        width: 200px;
        height: 100px;
    }
    header img{
        width: 100px;
        height: 100px;
    }
    ul.breadcrumb{
        display: none;
    }
    .info-o p{
        font-size: 6rem;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    body{
        width: 1400px;
    }
    header{
        width: 1400px;
        
    }
}
